In [2]:
#Importing Important libraries

In [3]:
import pandas as pd 
import numpy as np

# 1. Read the dataset to the python environment.

In [4]:
data=pd.read_excel('iris.xls')
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

# 2.Do necessary pre-processing steps

In [6]:
#Information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
data.shape

(150, 5)

In [8]:
data.describe()

               SL          SW          PL          PW
count  143.000000  144.000000  144.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.828168    0.430644    1.761306    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [9]:
#Checking for null values
data.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [10]:
#Fill null values with mean
data['SL']=data['SL'].fillna(data['SL'].mean())
data['SW']=data['SW'].fillna(data['SW'].mean())
data['PL']=data['PL'].fillna(data['PL'].mean())

In [11]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [33]:
data.head()

         SL   SW   PL   PW Classification
0  5.100000  3.5  1.4  0.2    Iris-setosa
1  4.900000  3.0  1.4  0.2    Iris-setosa
2  5.855944  3.2  1.3  0.2    Iris-setosa
3  4.600000  3.1  1.5  0.2    Iris-setosa
4  5.000000  3.6  1.4  0.2    Iris-setosa

In [12]:
#dropping the column 'Classification'
y=data['Classification']
x=data.drop(['Classification'],axis=1)

In [13]:
x

           SL   SW       PL   PW
0    5.100000  3.5  1.40000  0.2
1    4.900000  3.0  1.40000  0.2
2    5.855944  3.2  1.30000  0.2
3    4.600000  3.1  1.50000  0.2
4    5.000000  3.6  1.40000  0.2
..        ...  ...      ...  ...
145  6.700000  3.0  5.20000  2.3
146  6.300000  2.5  5.00000  1.9
147  6.500000  3.0  3.75625  2.0
148  6.200000  3.4  5.40000  2.3
149  5.900000  3.0  5.10000  1.8

[150 rows x 4 columns]

In [15]:
# splitting the data into train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.20)

In [16]:
x_train.shape

(120, 4)

In [17]:
x_test.shape

(30, 4)

## 3.Find out which model gives best results

#### logistic regression model

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [26]:
# fit  logistic model-  on traning data 
log_model = LogisticRegression()
log_model.fit(x_train,y_train)
LogisticRegression()
# predict on the test data 
y_prediction = log_model.predict(x_test)

In [35]:
# calculate the accuracy score
print('Training accuracy of the model is ', log_model.score(x_train, y_train))
print("Accuracy is:",accuracy_score(y_test,y_prediction))

Training accuracy of the model:  0.95
Accuracy is: 1.0

#### Linear SVM

In [36]:
# fit the svm_ linear on traning data and predict on the test data and measure the accuracy
# linear classifier
lin_svm = SVC(kernel='linear')
lin_svm.fit(x_train, y_train)
y_pred = lin_svm.predict(x_test)
print('Training accuracy of the model is ', lin_svm.score(x_train, y_train))
print("accuracy is ", accuracy_score(y_test,y_pred))

Training accuracy of the model is  0.9666666666666667
accuracy is  1.0

#### Polynomial SVM

In [37]:
Pol_svm = SVC(kernel ='poly', degree=12)
Pol_svm .fit(x_train, y_train)
y_pred = Pol_svm .predict(x_test)
print('Training accuracy of the model is ', Pol_svm.score(x_train, y_train))
print("accuracy is", accuracy_score(y_test,y_pred))

Training accuracy of the model is  1.0
accuracy is 0.9666666666666667

#### Using Random Forest Classifier

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
print('Training accuracy of the model is ', rf.score(x_train, y_train))
print("accuracy is ", accuracy_score(y_test,y_pred))

Training accuracy of the model is  1.0
accuracy is  1.0

Based on the performance score of different models, Random Forest Classifier model gives best results